@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #191919;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-left: 15px;
}

.navbar a {
  color: white;
}

.logoflor {
  width: 130px;
  height: 130px;
}

main {
  margin-top: 5px;
  margin-bottom: 100px;
}

h2 {
  margin-bottom: 60px;
}

.container {
  margin: 0px;
}

.col {
  @include flex-center;
  flex-direction: column;
}

.fotoperfil {
  max-width: 80%;
  height: auto;
}

.logochico {
  width: 40px;
  height: 40px;
}

.footer {
  background-color: beige;
  color: #191919;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 0px;
}

.footer-content {
  display: flex;
  align-items: center;
}

.copyright {
  margin-left: 20px;
  padding-top: 15px;
}

footer {
  background-color: beige;
  color: #191919;
}

header {
  background-color: beige;
}

.navbar-nav .nav-link {
  color: #191919;
}

.card {
  width: 18rem;
  display: inline-flex;
  margin: 25px;
}

.card-body {
  background-color: beige;
}

.btn {
  border: 2px solid black;
}

.footer-logos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.redes {
  margin-right: 15px;
}

#boton-enviar {
  margin-top: 10px;
}

.texto-tesis {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.texto-horarios {
  font-size: 18px;
  text-align: center;
}

.texto.intro {
  text-align: justify;
}

.titulo-horarios {
  margin-bottom: 30px;
  text-align: center;
}

.texto-consulta {
  text-align: center;
}

.formulario {
  justify-items: center;
}

#texto-renders {
  font-size: 18px;
}

.accordion-item {
  background-color: #dcae96;
}

.accordion-button {
  background-color: beige;
}

.accordion-button:not(.collapsed) {
  background-color: beige;
}

.FAQ-texto {
  text-align: center;
}

@media screen and (min-width: 1300px) {
  .texto-tesis {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1000px) {
  .iframe-tesis {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .iframe-tesis {
    height: 300px;
  }
}

@media (min-width: 500px) {
  .flex-md-half {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.heroimg {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.main-verbena {
  margin-bottom: 300px;
  margin-top: 100px;
}

.main-casas {
  margin-bottom: 100px;
  margin-top: 100px;
}

.cards-proyectos {
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.titulo-container {
  text-align: center;
}

.titulo-proyectos {
  margin-top: 15pxtet;
}

.subtitulo-container {
  text-align: center;
}

.carousel {
  max-width: 1200px;
  margin: 0 auto;
}

.subtitulo {
  font-size: 22px;
}

.subtitulo-container2 {
  margin-top: 20px;
  text-align: center;
}

