@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #191919;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 15px;
}

.navbar a{
    color: white;
}

.logoflor {
    width: 130px;
    height: 130px;    
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    margin-bottom: 60px;
}

.container {
    margin: 0px;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoperfil {
    max-width: 80%;
    height: auto;
}

.logochico {
    width: 40px;
    height: 40px;
}

.footer {
    display: flex;
} 

.footer-content {
    display: flex;
    align-items: center;
}

.copyright {
    margin-left: 20px;
    padding-top: 15px;
}

footer {
    background-color: beige;
    color: #191919;
}

header {
    background-color: beige;
}

.navbar-nav .nav-link {
    color: #191919;
}

.card {
    width: 18rem;
    display: inline-flex;
    margin: 25px;
}

.card-body {
    background-color: beige;
}

.btn {
    border: 2px solid black;
}

.footer-logos {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Add this line to align items to the far right */
}

.redes{
    margin-right: 15px;

}
